.Feed {
    color: white;
}

.btn {
  background-color: #444444;
  border-radius: 10px;
}

.btn > div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category {
    margin-left: 5px;
    margin-right: 5px;
    color: green;
} 